body
{
background-color: rgb(240,240,240);
}

p
{
    font-size: 15px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 16px;
    letter-spacing: 0px;
}

.cms-float-right {
    margin-right: 40px;
}

.box-of-columns p
{
    margin:20px 0px;
}

video
{
    margin-top: -14px;
    margin-bottom: -18px;
}

img
{
    margin-top: -14px;
    margin-bottom: -14px; 
}

/* First child means the first paragraph of a page */

.box-of-columns p:first-child
{
    margin-top:-5px;
}

.box-of-columns p:last-child
{
    margin-bottom: 5px;
}

.box-of-columns video:first-child
{
    margin-top:2px;
}

.box-of-columns img:first-child
{
    margin-top:2px;
}
.paper
{
    width:748px;
    margin:12px auto;
    box-shadow: 0px 0px 2px 1px rgba(122, 122, 122, 0.6);
    padding:10px 40px 10px;
}
div
{
    background-color: rgb(255, 255, 255);
   
}
.box-of-columns
{
    display:flex;
    margin-top: 10px;
    margin-bottom: 6px;
    font-size: 15px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.column-twin
{
    flex:50%;
    padding-left:15px;
    padding-right:15px;
}

.column-left-2
{
    flex: 50%;
    padding-left:17px;
    padding-right:27px;
}

.column-right-2
{
    flex: 30%;
    padding-left:27px;
    padding-right:18px;
}
.column-portada
{
    flex: 40%;
    padding-left:14px;
    padding-right:18px;
   
}

.column-left
{
    /* flex:calc(100% / 3); */
    flex:33%;
    padding-left:3px;
    padding-right:35px;
}

.column-middle
{
    flex:33%;
    padding-left: 29px;
    padding-right:25px;
}

.column-right
{
    flex:33%;
    padding-left:35px;
    padding-right:3px;

   
}

img
{
    display: block;
}

/* This is the space under a text or something */
.space
{
    padding-bottom:20px;
}

.space2
{
    padding-bottom: 1px;
}

.space3
{
    padding-bottom:10px;
}

.title
{
    font-size: 20px;
    text-align: center; 
}

.title2
{
    font-size: 20px;
    text-align:left; 
}